<header class="header-2019">
    <div class="container-2019">
        <div class="header-top">
            <div class="header-showroom header-top-item khai-item js-hover-menu" data-tpl="html/he_thong_showroom" data-display-node="js-he_thong_showroom">
                <span class="top-header-span"><i class="fas fa-map-marker-alt" style="margin-right: 5px;font-size:1.25em"></i> TÌM CỬA HÀNG GẦN NHẤT</span>
                <div id="js-he_thong_showroom"  class="js-header-template" style="display:none"></div>
            </div>

            <div class="header-top-item khai-item js-hover-menu" data-tpl="html/ban_hang_truc_tuyen" data-display-node="js-ban_hang_truc_tuyen">
                <span id="mr-sep" class="top-header-span animated-linear-gradient"><i class="fas fa-phone fa-flip-horizontal" style="margin-right: 5px"></i> Bán hàng Online</span>
                <div id="js-ban_hang_truc_tuyen"  class="js-header-template" style="display:none"></div>
            </div>

            <div class="header-top-item khai-item js-hover-menu" data-tpl="html/ban_hanh_doanh_nghiep" data-display-node="js-ban_hang_doanh_nghiep">
                <span id="mr-sep" class="top-header-span animated-linear-gradient"><i class="fas fa-phone fa-flip-horizontal" style="margin-right: 5px"></i> Bán hàng Doanh nghiệp</span>
                <div id="js-ban_hang_doanh_nghiep"  class="js-header-template" style="display:none"></div>
            </div>

            <div class="header-top-item khai-item js-hover-menu" data-tpl="html/kinh_doanh_hcm" data-display-node="js-kinh_doanh_hcm">
                <span id="mr-sep" class="top-header-span animated-linear-gradient"><i class="fas fa-phone fa-flip-horizontal" style="margin-right: 5px"></i> Bán hàng - TP HCM</span>
                <div id="js-kinh_doanh_hcm"  class="js-header-template" style="display:none"></div>
            </div>

            <div class="header-showroom khai-item header-top-item js-hover-menu" data-tpl="html/kinh_doanh_showroom" data-display-node="js-kinh_doanh_showroom">
                <span class="top-header-span animated-linear-gradient"><i class="fas fa-phone fa-flip-horizontal" style="margin-right: 5px"></i> Bán hàng - Showroom </span>
                <div id="js-kinh_doanh_showroom" class="js-header-template"  style="display:none"></div>
            </div>
            <div class="sep-item">
            <span>
            <a href="/tra-bao-hanh" class="sep-item-link" target="_blank"><i class="far fa-shield-check" style="margin-right: 5px"></i>Tra cứu bảo hành</a>
            </span>
            </div>
            <div class="sep-item">
            <span>
            <a class="sep-item-link" target="_blank" href="https://www.hanoicomputer.vn/huong-dan-tra-cuu-va-nhan-hoa-don-dien-tu" rel="nofollow"><i class="fas fa-file-invoice-dollar" style="margin-right: 5px"></i>In hóa đơn điện tử</a>
            </span>
    		</div>
            <div class="sep-item">
            <span>
            <a class="sep-item-link" target="_blank" href="https://www.hanoicomputer.vn/tuyen-dung-nhan-su" rel="nofollow"><i class="far fa-bullhorn" style="margin-right: 5px"></i>Tuyển dụng</a>
            </span>
            </div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom-row pb-10">
                <div class="header-bottom-left">
                    <div class="logo">
                        <a href="/">
                            <img src="/logo-trang.png" alt="logo Hanoicomputer">
                        </a>
                    </div>
                </div>
                <div class="align-items-end d-flex header-bottom-right">
                    <div class="khaipv-hotline">
                        <div class="header-seo-links">
                            <a href="/laptop-may-tinh-xach-tay">Laptop</a>
                            <a href="/cpu-bo-vi-xu-ly">CPU</a>
                            <a href="/may-tinh-choi-game">Máy Tính Chơi Game</a>
                            <a href="/man-hinh-may-tinh">Màn Hình Máy Tính</a>
                        </div>
                    </div>
                    <div class="khaipv-buildpc">
                        <a href="/buildpc"><i class="far fa-wrench" style="margin-right: 5px"></i>Xây dựng cấu hình máy tính</a>
                        <a href="/xay-dung-tan-nhiet"><i class="far fa-temperature-frigid" style="margin-right: 5px"></i>Xây dựng tản nhiệt nước PC</a>
                    </div>
                    <div class="user-action">
                        <div class="align-items-center d-flex position-relative user-action-wrap">
                            <div class="hotline">
                                <span class="header-hotline">Mua hàng online<b>1900.1903</b></span>
                                <div class="sub">
                                    
                                    <div class="item"><span class="hotline-number">1</span><span>Mua hàng trực tuyến (9h - 21h30)</span></div>
                                    <div class="item"><span class="hotline-number">2</span><span>Hỗ trợ kỹ thuật (9h - 21h30)</span></div>
                                    <div class="item"><span class="hotline-number">3</span><span>Dịch vụ kỹ thuật - bảo hành (9h - 17h30)</span></div>
                                  <div class="item"><span class="hotline-number">0</span><span>Chăm sóc khách hàng (8h30 - 17h30)</span></div>
                                </div>
                            </div>
                          <!-- aaaaaaaaa no1 -->
                            <div class="header-separator hide-on-fixed"></div>
                            <div class="user-action-item ">
                                <div class="d-flex align-start taikhoan">
                                    <span class="header-cart-icon"><i class="fas fa-user"></i></span>
                                    <span class="taikhoan-text">
                                      
                           <a href="javascript:;" onclick="showPopupTabRl('#title-tab-regis')" class="taikhoan-link">Đăng ký</a>
                           <a href="javascript:;" onclick="showPopupTabRl('#title-tab-login')" class="taikhoan-link">Đăng nhập</a>
                                      
                           </span>
                                 
                                  <div class="border-hover-login">
                                    <a href="javascript:;" onclick="showPopupTabRl('#title-tab-login')" class="taikhoan-dangki">Đăng nhập</a>
                                    <a href="javascript:;" onclick="showPopupTabRl('#title-tab-regis')" class="taikhoan-dangnhap">Đăng ký</a>
                                    <a href="javascript:open_oauth('Google')">
                                      <div class="social-login-btn btn-google">
                                        <div class="social-login-icon"><i class="fab fa-google"></i></div>
                                        <div class="social-login-txt">Đăng nhập bằng Google</div>
                                      </div>
                                    </a>
                                    <a href="javascript:open_oauth('Facebook')">
                                      <div class="social-login-btn btn-facebook">
                                        <div class="social-login-icon"><i class="fab fa-facebook-f"></i></div>
                                        <div class="social-login-txt">Đăng nhập bằng Faceook</div>
                                      </div>
                                    </a>
                                    <a href="javascript:open_oauth('Zalo')">
                                      <div class="social-login-btn btn-zalo">
                                        <div class="social-login-icon"><i class="fas fa-comment"></i></div>
                                        <div class="social-login-txt">Đăng nhập bằng Zalo</div>
                                      </div>
                                    </a>
                                  </div>
                                   
                              </div>
                            </div>
                            <div class="header-separator"></div>
                            <div class="user-action-item " id="js-cart-hover">
                                <div class="cart">
                                    <div class="cart-summary">
                                        <span class="header-cart-icon"><i class="fas fa-shopping-bag"></i></span>
                                        <b id="count_shopping_cart_store">0</b>
                                        <a href="/cart">Giỏ hàng</a>
                                    </div>
                                    <div id="get_item_cart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom-row pb-10">
                <div class="header-bottom-item">
                    <div class="header-bottom-btn danhmuc-wrap ">
                    <a href="javascript:void(0);" class="custom-btn">Danh mục sản phẩm <i class="far fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div class="hover-content danhmuc-content" >
                        <ul class="ul ul_menu_2019" id="menu-2019">
                          <li id="vt-159" class="js-hover-menu" data-id="159" data-tpl="html/menu_cat_159" data-display-node="sub_nav_159">
                              <a href="/laptop-may-tinh-xach-tay" class="root">Laptop, Máy Tính Xách Tay</a>
                              
                              <div class="sub_nav" id="sub_nav_159" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-455" class="js-hover-menu" data-id="455" data-tpl="html/menu_cat_455" data-display-node="sub_nav_455">
                              <a href="/phu-kien" class="root">Phụ Kiện Laptop, PC, Khác</a>
                              
                              <div class="sub_nav" id="sub_nav_455" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>

                          <li id="vt-178" class="js-hover-menu" data-id="178" data-tpl="html/menu_cat_178" data-display-node="sub_nav_178">
                              <a href="/may-tinh-choi-game" class="root">PC Gaming, Streaming</a>
                              
                              <div class="sub_nav" id="sub_nav_178" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-388" class="js-hover-menu" data-id="388" data-tpl="html/menu_cat_388" data-display-node="sub_nav_388">
                              <a href="/pc-workstations" class="root">PC Đồ Họa, Render, Máy Chủ</a>
                              
                              <div class="sub_nav" id="sub_nav_388" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-137" class="js-hover-menu" data-id="137" data-tpl="html/menu_cat_137" data-display-node="sub_nav_137">
                              <a href="/may-tinh-van-phong" class="root">PC Văn Phòng, AIO, Mini PC</a>
                              
                              <div class="sub_nav" id="sub_nav_137" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-6" class="js-hover-menu" data-id="6" data-tpl="html/menu_cat_6" data-display-node="sub_nav_6">
                              <a href="/linh-kien-may-tinh" class="root">Linh Kiện Máy Tính</a>
                              
                              <div class="sub_nav" id="sub_nav_6" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>

                          <li id="vt-379" class="js-hover-menu" data-id="379" data-tpl="html/menu_cat_379" data-display-node="sub_nav_379">
                              <a href="/tan-nhiet-cooling" class="root">Tản Nhiệt PC, Cooling</a>
                              
                              <div class="sub_nav" id="sub_nav_379" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-39" class="js-hover-menu" data-id="39" data-tpl="html/menu_cat_39" data-display-node="sub_nav_39">
                              <a href="/man-hinh-may-tinh" class="root">Màn Hình Máy Tính</a>
                              
                              <div class="sub_nav" id="sub_nav_39" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-105" class="js-hover-menu" data-id="105" data-tpl="html/menu_cat_105" data-display-node="sub_nav_105">
                              <a href="/phim-chuot-gaming-gear" class="root">Phím Chuột, Gaming Gear</a>
                              
                              <div class="sub_nav" id="sub_nav_105" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>

                          <li id="vt-992" class="js-hover-menu" data-id="992" data-tpl="html/menu_cat_992" data-display-node="sub_nav_992">
                              <a href="/may-choi-game-tay-game" class="root">Máy Chơi Game, Tay Game</a>
                              
                              <div class="sub_nav" id="sub_nav_992" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>

                          <li id="vt-41" class="js-hover-menu" data-id="41" data-tpl="html/menu_cat_41" data-display-node="sub_nav_41">
                              <a href="/thiet-bi-nghe-nhin" class="root">Loa, Tai Nghe, Mic, Webcam</a>
                              
                              <div class="sub_nav" id="sub_nav_41" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-260" class="js-hover-menu" data-id="260" data-tpl="html/menu_cat_260" data-display-node="sub_nav_260">
                              <a href="/camera-thiet-bi-an-ninh" class="root">Camera, TB An Ninh</a>
                              
                              <div class="sub_nav" id="sub_nav_260" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-1002" class="js-hover-menu" data-id="1002" data-tpl="html/menu_cat_1002" data-display-node="sub_nav_1002">
                              <a href="/may-in-may-cham-cong" class="root">Máy In, Máy Chấm Công</a>
                              
                              <div class="sub_nav" id="sub_nav_1002" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-1003" class="js-hover-menu" data-id="1003" data-tpl="html/menu_cat_1003" data-display-node="sub_nav_1003">
                              <a href="/thiet-bi-van-phong-khac" class="root">Thiết Bị Văn Phòng Khác</a>
                              
                              <div class="sub_nav" id="sub_nav_1003" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>

                          <li id="vt-395" class="js-hover-menu" data-id="395" data-tpl="html/menu_cat_395" data-display-node="sub_nav_395">
                              <a href="/thiet-bi-sieu-thi-cua-hang" class="root">TB Siêu Thị, Máy Bán Hàng</a>
                              
                              <div class="sub_nav" id="sub_nav_395" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-480" class="js-hover-menu" data-id="480" data-tpl="html/menu_cat_480" data-display-node="sub_nav_480">
                              <a href="/tb-hoi-nghi-truong-hoc" class="root">Họp, Giảng Dạy, Stream</a>
                              
                              <div class="sub_nav" id="sub_nav_480" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                          <li id="vt-18" class="js-hover-menu" data-id="18" data-tpl="html/menu_cat_18" data-display-node="sub_nav_18">
                              <a href="/thiet-bi-luu-tru" class="root">Thiết Bị Lưu Trữ, USB, Thẻ</a>
                              
                              <div class="sub_nav" id="sub_nav_18" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>

                          <li id="vt-23" class="js-hover-menu" data-id="23" data-tpl="html/menu_cat_23" data-display-node="sub_nav_23">
                              <a href="/thiet-bi-mang" class="root">Thiết Bị Mạng, Phần Mềm</a>
                              
                              <div class="sub_nav" id="sub_nav_23" style="left: 200px; display: none;">
                                  <!--//load content here-->
                              </div>
                              
                          </li>
                      </ul>
                    </div>
                </div>
                <div class="header-bottom-btn chinhsach-wrap">
                    <a href="/chinh-sach" class="custom-btn">Chính sách - Hướng dẫn <i class="far fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div class="hover-content chinhsach-content" style="min-width: 1036px !important;box-shadow: 1px 1px 15px rgba(0,0,0,0.15);">
                        <div class="policy-column">
                            <div class="hnc-policy-title"><span>Hỗ trợ khách hàng</span></div>
							<div class="hnc-policy-separator"></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/huong-dan-mua-hang-truc-tuyen">Hướng dẫn mua hàng trực tuyến</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/huong-dan-thanh-toan">Hướng dẫn thanh toán</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/huong-dan-mua-hang-tra-gop">Hướng dẫn mua hàng trả góp</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/huong-dan-tra-cuu-va-nhan-hoa-don-dien-tu">Tra cứu hóa đơn điện tử</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/tra-bao-hanh" rel="nofollow">Tra cứu sản phẩm gửi bảo hành</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/yeu-cau-bao-hanh">Gửi yêu cầu bảo hành</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/bieu-mau-hop-dong">Biểu mẫu hợp đồng</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/lien-he">Góp ý, khiếu nại</a></div>
                        </div>
                        <div class="policy-column">
                            <div class="hnc-policy-title"><span>Chính sách chung</span></div>
							<div class="hnc-policy-separator"></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/chinh-sach">Chính sách chung</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/bao-mat-thong-tin-khach-hang">Bảo mật thông tin khách hàng</a> </div>
                            <div class="hnc-policy-link"><a target="_blank" href="/chinh-sach-hang-chinh-hang">Chính sách hàng chính hãng</a></div>
                            <!--<div class="hnc-policy-link"><a target="_blank" href="/chinh-sach-gia-san-pham" >Chính sách giá sản phẩm</a> </div> -->
                            <div class="hnc-policy-link"><a target="_blank" href="/chinh-sach-giao-hang">Chính sách giao hàng</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/doi-tra-va-hoan-tien">Chính sách đổi trả và hoàn tiền</a></div>
                            <!--<div class="hnc-policy-link"><a target="_blank" href="/chinh-sach-hoan-tien">Chính sách hoàn tiền</a></div> -->
                            <div class="hnc-policy-link"><a target="_blank" href="/chinh-sach-bao-hanh">Chính sách bảo hành</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/chinh-sach-cho-doanh-nghiep">Chính sách cho doanh nghiệp</a> </div>
                            <!-- <div class="hnc-policy-link"><a target="_blank" href="/chinh-sach-gamenet">Chính sách GameNet</a> </div>-->
                        </div>
                        <div class="policy-column">
                            <div class="hnc-policy-title"><span>Thông tin khuyến mại</span></div>
							<div class="hnc-policy-separator"></div>
                            <div class="hnc-policy-link"><a target="_blank" href="https://news.hanoicomputer.vn/thong-tin-khuyen-mai/" rel="nofollow">Thông tin khuyến mại</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/chuong-trinh-khuyen-mai" rel="nofollow">Sản phẩm khuyến mại</a></div>
                        </div>
                        <div class="policy-column">
                            <div class="hnc-policy-title">Thông tin Hanoicomputer</div>
							<div class="hnc-policy-separator"></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/gioi-thieu-ve-hanoicomputer">Giới thiệu Hanoicomputer</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/tuyen-dung-nhan-su" rel="nofollow">Tuyển dụng</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="https://news.hanoicomputer.vn/" rel="nofollow">Tin tức công nghệ</a></div>
                            <div class="hnc-policy-link"><a target="_blank" href="/thong-tin-lien-he">Liên hệ, hợp tác</a></div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom-btn brand-wrap js-hover-menu" data-tpl="html/menu_brand" data-display-node="js-menu_brand">
               <span class="custom-btn">Tìm theo hãng <i class="far fa-angle-down" aria-hidden="true"></i>
               </span>
                    <div class="hover-content brand-content" id='js-menu_brand' style="box-shadow: 1px 1px 15px rgba(0,0,0,0.15); display:none;">
                        <!--//show brand here-->
                    </div>
                </div>
            </div>
            <div class="header-bottom-item w-100 col p-0">
                <div class="main-search">
                    <form name="search" action="/tim">
                        <div class="input-text"><input type="text" name="q" id="text-search" placeholder="Nhập tên sản phẩm, từ khóa cần tìm" autocomplete="off" field_signature="1012080445"></div>
                        <button type="submit" class="search-btn fa fa-search"></button>
                    </form>
                    <div class="autocomplete-suggestions list" id="js-seach-result" style="display: none;"></div>
                </div>
            </div>
              <div class="sep">
            <div class="sep-item">
            <span>
            <a href="https://news.hanoicomputer.vn/" class="sep-item-link" target="_blank"><i class="fas fa-rss" style="margin-right: 5px"></i>Tin công nghệ</a>
            </span>
            </div>
            <div class="sep-item">
            <span>
            <a href="https://www.hanoicomputer.vn/tin-khuyen-mai-su-kien" class="sep-item-link" target="_blank"><i class="far fa-tags" style="margin-right: 5px"></i>Khuyến mại</a>
            </span>
            </div>
          </div>
        </div>
    </div>
    </div>
</header>